/* src/App.css */
.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px; /* Adjust height as needed */
}

.centered-header {
  justify-content: center;
}

.App-header h1 {
  font-size: 3em;
  margin: 0;
}

main {
  padding: 20px;
}

h1, h2 {
  font-weight: 300;
  color: #e06b1c;
}

h2 {
  font-size: 2em;
}
